.main-footer {
  background-color: var(--fondo-secundario);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: var(--texto-principal);
  padding: 40px 20px;
  color: var(--bordeaux);
  padding: 2rem 0;
  border-top: 2px solid var(--bordeaux);
  margin-top: auto; /* Empuja el footer hacia abajo si usas flexbox en el contenedor padre */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-copyright {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold; /* Hace el texto más grueso */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); /* Crea un borde/sombra oscuro alrededor del texto */
  opacity: 1; /* Corregimos la opacidad al 100% visible */
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social a {
  color: var(--bordeaux);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: var(--bordeaux);
  transform: translateY(-3px);
}

.footer-icon {
  width: 40px;
  height: 40px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}